@model MunicipalLibrary.Models.Member

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Member</h4>
	<hr/>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Address)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Address)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Books)
		</dt>

		<dd>
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Author</th>
				</tr>
				@foreach (var book in Model.Books)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => book.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => book.Description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => book.Author)
						</td>
					</tr>
				}
			</table>
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>